In [ ]:
#

In [1]:
import pandas as pd

In [4]:
data = pd.read_excel("Data/dataset.xls")

In [5]:
data

     Pred_class  probabilidade    status  True_class
0             2       0.079892  approved         0.0
1             2       0.379377  approved        74.0
2             2       0.379377  approved        74.0
3             2       0.420930  approved        74.0
4             2       0.607437  approved         NaN
..          ...            ...       ...         ...
638          60       0.543772  revision         NaN
639          60       0.553846  revision         NaN
640          77       0.606065  revision         NaN
641          84       0.561842  revision         NaN
642          96       0.340740  revision         NaN

[643 rows x 4 columns]